<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg" href="../SM Logo fevicon  png.png" sizes="16x16">
    <title>Sai Navbar</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../Phase2css.css" rel="stylesheet">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">



</head>

<body>

    <nav class="navbar navbar-light bg-success border-bottom-0  sticky-top">
        <!-- Navbar toggle button (hamburger icon) -->
       
            
            <button class="navbar-toggler d-block d-md-none navbar-hieght"
                type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebar"
                aria-controls="sidebar">
                 <span class="navbar-toggler-icon"></span>
            </button>
        
    </nav>

    </nav>
<!-- This topbar toggle to the off canvas -->
    <div class="offcanvas offcanvas-start bg-success d-md-block" 
        tabindex="-1" id="sidebar"
        aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
        
          <div class = "d-flex align-items-center pb-3 border-bottom" >
            <div class="logo-container">
              <img src="../SM Logo fevicon  png.png" alt="sai Logo" class="sailogo">
            </div>
          </div>

            <button type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body ">
            <ul class="nav flex-column">
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="../index.html" class="link-dark d-inline-flex text-decoration-none rounded">
                        <div class = "offCanvas-home"> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg>
                          Home</div>

                      </a></li>
                      </ul>
                  </li>
                    <li class="mb-1">
                      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                      data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                      Foundations
                      </button>
                      <div class="collapse" id="foundations-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="../foundation/type.html" class="link-dark d-inline-flex text-decoration-none rounded ">Typography</a></li>
                          <li><a href="../foundation/color.html" class="link-dark d-inline-flex text-decoration-none rounded">Color</a></li>
                          <li><a href="../foundation/logo.html" class="link-dark d-inline-flex text-decoration-none rounded">Logo</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                        data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
                         Components
                        </button>
                        <div class="collapse  show" id="components-collapse">
                          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"><span class = "activeLink rounded">Navbar</span></a></li>
                            <li><a href="cards.html" class="link-dark d-inline-flex text-decoration-none rounded">Cards</a></li>
                            <li><a href="footer.html" class="link-dark d-inline-flex text-decoration-none rounded">Footer</a></li>
                     
                          </ul>
                        </div>
                      </li>
                      <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                        data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                          Page Patterns
                        </button>
                        <div class="collapse" id="patterns-collapse">
                          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="../patterns/page1.html" class="link-dark d-inline-flex text-decoration-none rounded">Homepage</a></li>
                            <li><a href="../patterns/page2.html" class="link-dark d-inline-flex text-decoration-none rounded">About</a></li>
                    </ul>
            </ul>
        </div>
    </div>
<!-- This is the sidebar menu -->
    <div class="container-fluid ">
        <div class="row">
            <nav id="sidebarMenu"
                class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar shadow">
                <div class="position-sticky bg-success vh-100">
                    <div class="pt-3">
                    
                      <a href="../index.html" class="d-flex align-items-center text-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    
                        <div class = "d-flex align-items-center pb-3" >
                          <div class="logo-container">
                            <img src="../SM Logo fevicon  png.png" alt="sai Logo" class="sailogo">
                          </div>
                        </div>

                      </a>
                        <ul class="nav flex-column">
                            <ul class="list-unstyled ps-0">
                              
                                <li class="mb-1">
                                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                  data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                                  Foundations
                                  </button>
                                  <div class="collapse" id="foundations-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                      <li><a href="../foundation/type.html" class="link-dark d-inline-flex text-decoration-none rounded">Typography</a></li>
                                      <li><a href="../foundation/color.html" class="link-dark d-inline-flex text-decoration-none rounded">Color</a></li>
                                      <li><a href="../foundation/logo.html" class="link-dark d-inline-flex text-decoration-none rounded">Logo</a></li>
                                    </ul>
                                  </div>
                                </li>
                                <li class="mb-1">
                                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                    data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
                                     Components
                                    </button>
                                    <div class="collapse  show" id="components-collapse">
                                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"><span class = "activeLink rounded">Navbar</span></a></li>
                                        <li><a href="cards.html" class="link-dark d-inline-flex text-decoration-none rounded">Card</a></li>
                                        <li><a href="footer.html" class="link-dark d-inline-flex text-decoration-none rounded">Footer</a></li>
                                 
                                      </ul>
                                    </div>
                                  </li>
                                  <li class="mb-1">
                                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                    data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                                      Page Patterns
                                    </button>
                                    <div class="collapse" id="patterns-collapse">
                                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="../patterns/page1.html" class="link-dark d-inline-flex text-decoration-none rounded">Homepage</a></li>
                                        <li><a href="../patterns/page2.html" class="link-dark d-inline-flex text-decoration-none rounded">Case Study</a></li>
                                </ul>
                        </ul>
                    </div>
                </div>
            </nav>


      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
         
       <!-- Page Content  -->
          <div class = "container-fluid overflow-auto">
            <div class = "row p-5">
              <div id="content">
                <h2 class="textcolor">Navbar</h2>
                <div>
                
                   <!--Sample Navbar-->
                  

                    
                    <!-- Navbar Mobile  -->
                    <div class="col-lg-6 col-md-6 py-1 mt-3">
                        <div class="card">
                          <div class="samplecard lightmode">
<img src="/Sainath Design Systems/Nav Mobile.jpg" alt="Card Mobile" class="img-fluid rounded shadow" style="max-width: 300px">
                          </div>
                            <div class="cardcontent darkmode">
                                <h4 class="textcolor">Navbar Mobile</h4>
                                <p>Navigation Bar - On mobile</p>
                            </div>
                        </div>
                    </div>
<!--Tablet-->
<div class="col-lg-6 col-md-6 py-1 mt-3">
                        <div class="card">
                          <div class="samplecard lightmode">
<img src="/Sainath Design Systems/Nav Tablet.jpg" alt="Card tablet" class="img-fluid rounded shadow" style="max-width: 500px">
                          </div>
                            <div class="cardcontent darkmode">
                                <h4 class="textcolor">Navbar Tablet</h4>
                                <p>Navigation Bar - On Tablet</p>
                            </div>
                        </div>
                    </div>
<!--Desktop-->
                    <div class="col-lg-6 col-md-6 py-1 mt-3">
                        <div class="card">
                          <div class="samplecard lightmode">
<img src="/Sainath Design Systems/Nav Desktop.jpg" alt="Card desktop" class="img-fluid rounded shadow" style="max-width: 800px">
                          </div>
                            <div class="cardcontent darkmode"> 
                                <h4 class="textcolor">Navbar Desktop</h4>
                                <p>Navigation Bar - On Desktop</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Code-->
                <!--<div class=" defined py-3" >
                  <pre class="language-markup">
                    <code>
                      
<h4>Nav Moble</h4>
    &lt;!-- Hamburger Icon --&gt;
    &lt;button class=&quot;navbar-toggler border-0 text-warning&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#mobileNav&quot;&gt;
      &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;

  &lt;/div&gt;

  &lt;!-- Collapsible Menu (optional) --&gt;
  &lt;div class=&quot;collapse&quot; id=&quot;mobileNav&quot;&gt;
    &lt;ul class=&quot;navbar-nav text-center bg-dark rounded mt-2&quot;&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-warning&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;Connect&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;Resume&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/nav&gt;

                    </code>
                  </pre>
                </div>




                <div class="nav defined py-3">
                  <pre class="language-markup">
                    <code>

                      <h4>Nav Tablet</h4>
                    

    &lt;!-- Logo and Name --&gt;
    &lt;a class=&quot;navbar-brand d-flex align-items-center text-warning fw-bold&quot; href=&quot;#&quot;&gt;
      &lt;span class=&quot;fs-4 me-2 border border-warning rounded-circle p-2&quot;&gt;SM&lt;/span&gt;
      Sainath Mailure
    &lt;/a&gt;

    &lt;!-- Collapsible Menu --&gt;
    &lt;div class=&quot;collapse navbar-collapse justify-content-end&quot; id=&quot;navbarNavTablet&quot;&gt;
      &lt;ul class=&quot;navbar-nav&quot;&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link text-warning fw-bold&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;About&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;Connect&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;Resume&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/nav&gt;

                    </code>
                  </pre>
                </div> -->



                <div class="nav defined py-3">
                  <pre class="language-markup">
                    <code>

                      <h4>Code</h4>
                      &lt;nav class=&quot;navbar navbar-dark bg-dark rounded-pill px-4 py-2&quot;&gt;
  &lt;div class=&quot;container-fluid d-flex justify-content-between align-items-center&quot;&gt;
    
    &lt;!-- Logo --&gt;
    &lt;a class=&quot;navbar-brand d-flex align-items-center text-warning fw-bold m-0&quot; href=&quot;#&quot;&gt;
      &lt;span class=&quot;fs-4 border border-warning rounded-circle p-2&quot;&gt;SM&lt;/span&gt;
    &lt;/a&gt;

    &lt;!-- Hamburger Icon --&gt;
    &lt;button class=&quot;navbar-toggler border-0 text-warning&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#mobileNav&quot;&gt;
      &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;

  &lt;/div&gt;

  &lt;!-- Collapsible Menu (optional) --&gt;
  &lt;div class=&quot;collapse&quot; id=&quot;mobileNav&quot;&gt;
    &lt;ul class=&quot;navbar-nav text-center bg-dark rounded mt-2&quot;&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-warning&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;Connect&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link text-white&quot; href=&quot;#&quot;&gt;Resume&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/nav&gt;

                    </code>
                  </pre>
                </div>

                <!--Accesibility-->
                <div class="m-3 my-5">
                  <h3>Accessibility Considerations</h3>
                  <p>
                    Provided meaningful, descriptive labels for all navigation links to clearly indicate their destination.  The navigation is responsive and remains readable across screen sizes.
                  </p>
                </div>
                


              </div><!--Content-->
      
            </div><!-- Row  -->
          </div><!-- Container -->
                      
      
          </div> 

               
      </main>
    </div>
  </div>

    <!-- Bootstrap Bundle with Popper -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </script>
</body>

</html>
